form {
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .input-block {
        background-color: lightblue;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        border: 3px solid white;
        padding: 15px 30px;
        width: 100%;
        border-radius: 15px;
        border: 3px solid white;
        box-shadow: 0 0 5px 5px lightgray;

        label {
            font-weight: bold;
            text-decoration: underline;
        }

        > * {
            padding: 15px 30px;
            font-size: 1.2em;
            border-radius: 15px;
        }

       
    }

     #submitBtn {
            border: 1px solid gray;
            border-radius: 15px;
            padding: 15px 30px;
            background-color: rgb(26, 146, 232);
            align-self: flex-end;
        }
}


// BREAKPOINT FOR TABLEt VIEW
@media only screen and (min-width: 720px) {
    form {
        width: 80%;
    }
}

@media only screen and (min-width: 1080px) {
    form {
        width: 60%;
    }
}
