



.sendMessageContainer{
    display: flex;
    flex-direction: row;
}



// BREAKPOINT FOR TABLEt VIEW
@media only screen and (min-width: 720px) {
    .chatroom{

        width: 80%;
        margin: 0 auto;

    }
}

// BREAKPOINT FOR desktop VIEW
@media only screen and (min-width: 1080px) {
    form {
        width: 60%;
        margin: 0 auto;

    }
}
