/* Quiz Options form */
form {
    background-color: aqua;
    label {
        display: block;
        margin-bottom: 5px;
        color: black
        

      
    }

    select,
    input[type="number"] {
        margin-bottom: 10px;
    }

    button[type="submit"] {
        background-color: #3490dc;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }
}


