/* Quiz Results */
.quiz-results {
    text-align: center;

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        font-weight: bold;
    }

    .question-container {
        margin-bottom: 20px;

        h3 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
            font-weight: bold;

            &.green {
                color: green;
            }

            &.red {
                color: red;
            }
        }

        hr {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}




