h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
}

.question-container{
    width: 70%;
    margin: 20px auto;


    h3{
        font-weight: bold;
        
    }

    >*{
        margin-bottom: 10px;
    }
}