.devah:hover {
    transition-duration: 0.3s;
    text-shadow: 2px 5px 10px;
}

p{
    color: brown;
}

ul{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5x;
    gap: 20px;
    height: 100px;
    font-size: x-small;

}
 ul li a{
    font-size: small;
    border-radius: 20px;
    padding: 4px 8px 8px 8px ;
    background-color: black;
    color: white;


}
ul li{
    list-style: none;
    
}


.chat-link {
    background-color: red; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from link */
    border-radius: 100px;
}

/* Change link color on hover */
.chat-link:hover {
    background-color: darkred; /* Change background color on hover */
    color: white; /* Text color on hover */
}

.rounded-custom {
    border-radius: 100px;
}



